<p>Cantidad de productos: {{productsUser.length}}</p>
<p>Valor: {{total}}</p>
<div class="FiltroMarcaPrecio">
  <div class="precio">
    <p>Precio</p>
    <input type="numer" placeholder="70.000.000" [(ngModel)]="minPrice" value="">
    <input type="numer" placeholder="800.000.000" [(ngModel)]="maxPrice" value="">
    <button (click)="getInfoPrecio(minPrice,maxPrice)">calcular</button>
    <button (click)="LimpiarFiltro()">Limpiar</button>
  </div>

  <div class="Marca">
    <p>Marca</p>
    <ul>
        <li><label><input type="checkbox" value="KIA"> KIA</label></li>
        <li><label><input type="checkbox" value="BMW"> BMW</label></li>
        <li><label><input type="checkbox" value="PORSCHE"> PORSCHE</label></li>
    </ul>
    <button onclick="calcular()">Calcular</button>
    <button onclick="limpiarFiltros()">Limpiar Filtros</button>
</div>

</div>
<div class="products--grid" *ngIf="mostrarFiltro; else filtro">
  <app-product [product]="product" *ngFor="let product of products"
  (addedProduct)="onAddToShoppingcart($event)"></app-product>
</div>



<ng-template #filtro>
  <div class="products--grid">
    <app-product [product]="product"
    *ngFor="let product of FilterProducts"
    (addedProduct)="onAddToShoppingcart($event)"></app-product>
  </div>
</ng-template>
