
H3,h2, p{
margin: 0;
color: white;
}

.item{

  background-color: #3498DB ;
  /*cursor: pointer;*/
  box-shadow: 0 0 20px 0 #3498DB ;
  border-radius: 10px;
}

.item-text{
  padding: 1em;
  text-align: left;

}
.item-img{

  max-width: 100%;
  background-size: cover;
  display: block;

}

.container{
  width: 100%;
  max-width: 1000px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 35px;
}

/* Estilos para el botón */
.btn-compra {
  background-color: #007BFF;  /* Color azul */
  color: #FFFFFF;            /* Texto blanco */
  padding: 10px 15px;        /* Espaciado interno */
  border: none;              /* Sin bordes */
  border-radius: 5px;        /* Bordes redondeados */
  cursor: pointer;           /* Cambiar cursor a mano al pasar el mouse */
  font-size: 16px;           /* Tamaño de letra */
  transition: background-color 0.3s;  /* Animación al hacer hover */
}

.btn-compra:hover {
  background-color: #0056b3;  /* Color azul más oscuro al hacer hover */
}

.btn-compra i {
  margin-right: 5px;  /* Espaciado a la derecha del ícono */
}
