
img{
  height: 250px;
  width: 100%;

  border-radius: 10px;
  margin-top: 10%;
}
H3,h2, p{
margin: 0;
color: white;
}

.item{

  background-color: #FA010A;
  /*cursor: pointer;*/
  box-shadow: 0 0 20px 0 #FA010A;
  border-radius: 10px;
}

.item-text{
  padding: 1em;
  text-align: left;

}
.item-img{

  max-width: 100%;
  background-size: cover;
  display: block;

}

.container{
  width: 100%;
  max-width: 1000px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 35px;
}
